
@media screen and (max-width: 1440px){
    /* .wrapper .top-container .desc .mockup2{
        height: 28em;
        width: 33em;
        padding-top: 40px;
    } */
    
    .wrapper .bottom-container{
        padding: 4em 2em;
    }

    .info2{
        align-items: center;
    }

    .info3{
        padding: 1.1em 0.6em;
    }
}

@media screen and (min-width: 890px) and (max-width: 1439px){
    .wrapper .top-container .desc .summary .summary-text {
        padding: 0 20em;
      }

    .wrapper .top-container .desc .mockup {
        width: 48em;
        padding: 2em 0.6em;
      }

    .wrapper .top-container .desc .stats .communities {
        padding: 3em 7em;
      }

      .wrapper .top-container .desc .stats .messages {
        padding: 3em 7em;
      }
    
      .bg-img-top {
        padding: 2.5em 0em;
      }
      
      .bg-img-bottom {
        padding: 2em 0em;
      }

    .wrapper .mid-container .flow {
        padding: 1.7em 3.5em;
      }

      .bg-img-footer {
        padding-top: 5em;
      }

    .wrapper .bottom-container {
        padding: 0.3em;
    }

    .newsletter {
        padding-left: 10em;
    }

    .newsletter-text {
        width: 80%;
    }

    input[type="email"] {
        border: 0;
        border-radius: 8px;
        margin-top: 2em;
        outline: 0;
        padding: 0.9em 2em;
      }

    .subscribe {
        margin-top: 1em;
    }
}
    
@media screen and (min-width: 489px) and (max-width: 889px){
    body{
        box-sizing: border-box;
        font-size: 15px;
    }

    .wrapper{
        text-align: center;
    }

    /* always use full pathnames of elements to override css properties from other classes ...*/
    .wrapper .top-container .desc .summary .summary-text {
        font-size: 1em;
        font-weight: 300;
        padding: 0 5em;
    }

    .wrapper .top-container .desc .summary .start {
        padding: 1.3em 1.5em;
        width: 60%
    }

    .wrapper .top-container .desc .mockup {
        height: 28em;
        width: 28em;
      }

    .wrapper .top-container .desc .stats {
        flex-direction: column;
    }

    .wrapper .top-container .desc .stats .communities {
        padding: 7em 11em;
      }

    /* ...although if element we are trying to override in a different class wasn't modified using full pathname then we can simply write the element name and it will be overridden */
    .stat-img {
        height: 30px;
        width: 30px;
        padding-bottom: 6px;
        position: relative;
        right: 3.5em;
    }

    .stat-numbers {
        font-weight: 800;
    }

    .stat-desc {
        font-size: 14px;
        padding: 1.2em 0;
    }

    .wrapper .mid-container {
        flex-direction: column;
        padding: 0;
    }

    .bg-img-top {
        background-image: url(../images/bg-section-top-mobile-1.svg),
            url(../images/bg-section-bottom-mobile-1.svg);
        /* X% value is horizontal value, Y% value is vertical. 0% 0% is top left corner, 100% 100% is bottom right corner */
        background-position: top, 50% 93%;
        padding-top: 6.5em;
      }

    .bg-img-bottom {
        background-image: url(../images/bg-section-top-mobile-2.svg),
            url(../images/bg-section-bottom-mobile-2.svg);
        padding-top: 8em;
        padding-bottom: 7.5em;
    }

    .wrapper .mid-container .grow, .users {
        flex-direction: column-reverse;
        padding: 1.7em 3.5em;
    }

    .wrapper .mid-container .flow {
        flex-direction: column-reverse;
        padding: 1.7em 3.5em;
    }

    .desc2 {
        width: 100%;
    }

    .text {
        font-size: 1.1em;
    }

    .bg-img-footer {
        background-image: url(../images/bg-footer-top-mobile.svg);
        padding-top: 4.7em;
      }

    .wrapper .bottom-container {
        display: flex;
        padding: 1em;
    }

    .wrapper .bottom-container .footer-desc {
        display: flex;
        flex-direction: column-reverse;
    }

    .wrapper .bottom-container .footer-desc .info {
        font-size: 16px;
        font-weight: 200;
        padding-top: 4.5em;
        width: 70%;
      }

    .logo-footer {
        margin-right: 7em;
    }
    .footer-text {
        text-align: left;
    }

    .social-media {
        display: flex;
    }

    .newsletter {
        padding-left: 2em;
    }

    .newsletter-heading {
        font-size: 1.5em;
        text-align: left;
    }

    .newsletter-text {
        font-size: 17px;
        font-weight: 400;
        margin-top: 0.5em;
        padding: 1.1em 0;
        text-align: left;
        width: 80%;
      }
    
      input[type="email"] {
        border: 0;
        border-radius: 8px;
        margin-top: 2em;
        outline: 0;
        padding: 0.9em 9em;
        margin-right: 7em;
      }

    .subscribe {
        margin-left: 8.7em;
        margin-top: 1em;
    }

